.AdminUser{
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: sans-serif;
}

.AdminUserContainer{
    position: fixed;
    height: 100vh;
    width: 88vw;
    display: flex;
    flex-direction: column;
    left: 225px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.AdminUserDataContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.AdminUserData{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    padding: 80px;
    gap: 20px;
}

.AdminUserData h2{
    margin-bottom: 20px;
    background: #0096FF;
    color: white;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.AdminUserDataImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.AdminUserDataImage img{
    margin-bottom: 20px;
    height: 180px;
    width: 180px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}